@model IEnumerable<CarInsClaims.App.Models.AdminClaimViewModel>

@{
    ViewData["Title"] = "List";
}
<table id="example" class="table table-hover table-striped table-bordered" style="width:100%; background-color: deepskyblue">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>PolicyId</th>
            <th>Amount</th>
            <th>Filled Date</th>
            <th>Personal Email</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.Title</td>
                <td>@claim.Description</td>
                <td>@claim.PolicyId</td>
                <td>@claim.Amount</td>
                <td>@claim.FilledDate</td>
                <td>@claim.PersonalEmail
                </td>
                <td>
                    <img src="@Url.Action("GetClaimPhoto", "Home" , new { id=claim.Id })" width="150" alt="image" />
                </td>
            </tr>
        }
    </tbody>
</table>

